<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="form-outline mb-4">
    <label class="form-label" for="email">Email</label>
    <input type="email" name="email" class="form-control" placeholder="scrivi la tua email" ngModel>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="password">password</label>
    <p-password name="password" class="form-control" placeholder="scrivi la tua password" ngModel  [toggleMask]="true" [feedback]="false"></p-password>
  </div>

  <button class="btn btn-primary" type="submit">Accedi</button>

  <div class="alert" *ngIf="loginError">
    {{loginError}}
  </div>

</form>

<div>
  Se ancora non sei registrato <a routerLink="/registrazione">clicca qui</a> per registrarti
</div>

<p-toast position="bottom-right"></p-toast>
